.d-flex {
    display: flex;
}

.social-icon {
    border-radius: 3px !important;
    padding:5px 25px;
    margin-right: 15px;
}
.facebook {
    background-color:#3b5998;
}
.twitter {
    background-color: #55acee;
}
.instagram {
    background-color: #0077b5;
}
.google {
    background-color: #0077b5;
}
.white {
    color:white
}
.social-icon {
    height: 35px;
}
.social-media {
    display:flex ;
    justify-content:center;
}
